{% extends 'vehicle/adminbase.html' %}
{% block content %}


<div class="wrapper">

    <!-- ****** начало таблицы ********** -->
    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 style="color:red; text-align:center">Отчет
                    </h3>

                </div>
                <div class="card-content">
                    <table>
                        <thead>
                        <tr>


                            <th>Номер ТС</th>
                            <th>VIN</th>
                            <th>Марка</th>
                            <th>Модель</th>
                            <th>Дата</th>

                            <th>Стоимость</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for r in reports %}
                        <tr>


                            <td> {{r.vehicle_name}}</td>
                            <td> {{r.vehicle_no}}</td>
                            <td> {{r.vehicle_brand}}</td>
                            <td> {{r.vehicle_model}}</td>
                            <td>{{r.date}}</td>
                            <td>{{r.cost}}</td>


                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5"><b>Выручка</b></td>
                            <td>${{ total_cost }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ****** table start ********** -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock content %}
