{% extends 'vehicle/customerbase.html' %}
{% block content %}

<div class="wrapper">

    <!-- ****** Начало таблицы ********** -->
    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 style="color:red; text-align:center">Утвержденные заявки со стоимостью
                    </h3>

                </div>
                <div class="card-content">
                    <table>
                        <thead>
                        <tr>
                            <th>VIN</th>
                            <th>Регистрационный номер</th>
							<th>Марка</th>
							<th>Модель</th>
                            <th>Описание проблеммы</th>
                            <th>Дата заявки</th>
                            <th>Стоимость ремонта</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for enq in enquiries %}
                        <tr>
                            <td>{{enq.vehicle_name}}</td>
                            <td>{{enq.vehicle_no}}</td>
							<td>{{enq.vehicle_brand}}</td>
							<td>{{enq.vehicle_model}}</td>
                            <td>{{enq.problem_description}}</td>
                            <td>{{enq.date}}</td>
                            <td>{{enq.cost}}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button onclick="window.location.href = '/print_enquiries';">Распечатать</button>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock content %}
