{% extends 'vehicle/customerbase.html' %}
{% block content %}


<div class="wrapper">

    <!-- ****** начало таблицы ********** -->
    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 style="color:red; text-align:center">Одобренные заявки
                    </h3>

                </div>
                <div class="card-content">
                    <table>
                        <thead>
                        <tr>
                            <th>Регистрационный номер</th>
                            <th>Марка</th>
                            <th>Модель</th>
                            <th>VIN</th>
                            <th>Описание проблеммы</th>
                            <th>Дата</th>
                            <th>Статус</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for enq in enquiries %}
                        <tr>
                            <td>{{enq.vehicle_name}}</td>
                            <td>{{enq.vehicle_brand}}</td>
							<td>{{enq.vehicle_model}}</td>
                            <td>{{enq.vehicle_no}}</td>
                            <td>{{enq.problem_description}}</td>
                            <td>{{enq.date}}</td>
                            <td>{{enq.status}}</td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ****** конец таблицы ********** -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock content %}
